@media screen and (max-device-width: 800px) {
    html {
         background: url("../img/cortlandthibodeau.png") #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }

    .info-card-body > .info-card-title { 
        font-size: 19px; 
    }
    
    .info-card-body > .info-card-desc {
        font-size: 10px; 
    }

    .half-img {
        margin-top: -30px;
    }
    
    .half-img > img {
        height: 60px;
    }
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../Pictures/cortlandthibodeau.png") no-repeat;
    background-size: cover;
}

.center-div {
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 700px;
}

.half-img {
    margin-top: -45px;
}

.half-img > img {
    height: 90px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgba(255, 255, 255, 0.98);
}

.info-card {
    background-color: rgba(255, 255, 255, 0.98); 
    border-radius: 5px;
}

.info-card-body {
    padding: 0px 20px 20px
}

.info-card-body > .info-card-title { 
    font-size: 30px; 
    margin-top: 10px;
    font-family: 'Halant', serif;
}

.info-card-body > .info-card-desc {
    font-size: 17px; 
    font-family: 'Lato', sans-serif;
}

.icon {
    padding-top: 15px;
    color: white;
}

.icon:hover {
    color: grey;
}

.center-horiz {
    display: block;
    margin: auto;
}

.text-align-center {
    text-align:center;
}
